uvicorn>=0.17.6
pydantic[dotenv]>=1.9.0
aiosqlite==0.17.0
fastapi-amis-admin>=0.2.0,<0.3.0
fastapi-user-auth>=0.2.0,<0.3.0
fastapi-scheduler>=0.0.6,<0.1.0
loguru>=0.6.0
python-decouple>=3.6
simplejson==3.17.6
greenlet>=1.1.2
aiomysql>=0.1.1
async_class>=0.5.0
cx_Oracle_async>=0.3.3
uvloop>=0.16.0
asgiref>=3.5.2
gunicorn>=20.1.0
hypercorn>=0.13.2
sqlalchemy-easy-profile>=1.2.1
jinja2>=3.1.2
amis>=0.1.1